
        <div class="container" style="padding-top: 90px;">
            <div class="row">
                <aside class="col-md-3">
                    <h2>Coming Soon</h2>
                    <p>Stay tuned for more updates</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                     Hello everyone, my name is Monil Patel. I am currently persuing my diploma degree in computer programming at Seneca College. Also, I am interested in robotics and wanted to developing something but I haven't figured it out. I am also interested in spirituality, like knowing about
                      myself what I am from where do I come from and what happens after death.
                        </p>
                        <p>
                           My journey towards spirituality started when I saw someone die for the very first time. I was so curoius that what was it what will happen now and where does he/she goes after death. I asked my parents a lot of questions and 
                           fortunately I was blessed enough to get some of the answers. 
                        </p>
                        <p>
                           I am still actively practicing spirituality. By connecting to a very well organization which is spread world-wide. Which has its roots back in my home country India. Which is also often called the land of Gods.
                        </p>
                       
                    </article>
                </section>
            </div>
        </div>
