
<!DOCTYPE html>
<html>
<head>
  <title>Add Category</title>
</head>
<body>
  <h2>Add Category</h2>
  <link rel="stylesheet" href="/css/form.css" />
  <form action="/categories/add" method="post">
    <label for="category">Category:</label>
    <input type="text" name="Category Name" id="category" autofocus>
    <br>
    <br>
    <input type="submit" class="btn btn-primary pull-right" value="Add Category">
  </form>
</body>
</html>
